<!doctype html>
<html>
    <head>
        <title>Swapna Travel</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Swapna Travel Logo"></header>
        {{{body}}}
    </body>
</html>